[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-custom"]
	path = oh-my-zsh-custom
	url = git@github.com:bgapinski/oh-my-zsh-custom
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
